# Ampel-{{project_name}}

{{description}}

---

This [Ampel](https://ampelproject.github.io) plugin was generated with [cruft](https://cruft.github.io/cruft), using the [cookiecutter-ampel](https://github.com/AmpelAstro/cookiecutter-ampel) template.